.product-container {
    font-family: 'Valio Omnes Semibold';
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 42px;
    text-align: center;
    width: 300px;
}

.product-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.product-card h2 {
    font-size: 1.2em;
    color: #555;
}

.product-card h3 {
    font-size: 1.5em;
    color: #000;
    margin: 10px 0;
}

.product-card p {
    color: #777;
    margin: 5px 0;
}

.price {
    font-size: 1.2em;
    color: red;
    margin: 10px 0;
}

.original-price {
    font-size: 0.9em;
    color: #999;
    text-decoration: line-through;
}

.headphones {
    background-color: #f9f9f9;
}

.cell-phones {
    background-color: #eef6ff;
}

.accessories {
    background-color: #fdf3f0;
}

@media (max-width: 900px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 80%;
    }
}

/* main */

.container {
    font-family: 'Valio Omnes Semibold';
    font-weight: 500;
    display: flex;
    width: 80%;
}

.sidebar {
    width: 20%;
    padding: 20px;
}

.categories, .colors, .status, .brands {
    list-style-type: none;
    padding: 0;
}

.categories li, .colors li, .status li, .brands li {
    margin: 10px 0;
}

.price-filter {
    width: 100%;
    margin: 10px 0;
}

.filter-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}

.products {
    width: 80%;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: 23%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item p {
    margin: 10px 0;
}